/********************
YOUR STYLES
*******************/


/* Header */

h1

{ font-family: 'Baloo Bhaina', cursive;
font-size: 40px;
text-align: center;}

h3

{ font-family: 'Baloo Bhaina', cursive;
color:aliceblue;
text-align: center;}
header {
  display: flex;
  justify-content: center;
}

/* Gallery Styling */
/* Just for Class*/
figure img {
    width: 100px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

figure {
    
    padding: 20px;
    width: 30%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Baloo Bhaina', cursive;
    color:palevioletred;
}


.lg-backdrop {
    background: grey;
}

.lg-image {
    box-shadow: 0 0 30px #333;
}

/* Captions */
.caption {
    display: none;
    font-family: 'Baloo Bhaina', cursive;
}

footer 
{ font-family: 'Baloo Bhaina', cursive;
color:aliceblue;
text-align: center;}

/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
  body {
       background-image: url("../img/pink%20dust.png");
  }
  
    figure {
            width: 100%;
    }
    
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. */
  body {
       background-image: url("../img/pink%20dust.png");
  }
    
    figure {
            width: 50%;
    }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
  body {
       background-image: url("../img/pink%20dust.png");
      
  }
 
  /* Main Container */
 main {
    margin: 0 auto;
    width: 95%;
 }    
    
    
}